
h1 {
  color:#571F1F;
  text-align: center;
  font-family: "Comic Sans MS";
}
ul.bar{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 3px solid #540909;
    background-color: #B58888;
}

li {
    float: left;
    position:sticky;
    padding:14px 16px;

}

li a.navigator_selection {
    display: block;
    color: #571F1F;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
    font-weight: bold;
}
li a.navigator_selection:hover:not(.active) {
    background-color: #ddd;
}
h3 {
  color: #571F1F;
  font-weight: bold;
}
ul.personal_infor{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 5px solid #540909;
}

ul.contact {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 5px solid #540909;
  font-weight: bold;
}
img {
  border: 1px solid #E27373;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
}
p {
  font-size:100%;
}

.w3-container {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.w3-containercity{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
